.choice-box {
    -fx-border-color: #BA9454;
    -fx-border-radius: 5px; /* Adjust the value to make the corners more or less rounded */
    -fx-background-radius: 5px; /* Make the background corners match the border radius */
    -fx-pref-height: 27.0;
    -fx-pref-width: 143.0;
}

.text-common {
    -fx-fill: #523C1D;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15.0;
}

.text-menu {
    -fx-fill: #f4e0b7;
    -fx-font-family: "Kiwi Maru";
    -fx-font-size: 35.0;
    -fx-text-alignment: center;
}

.text-field {
    -fx-border-color: #BA9454;
    -fx-border-width: 0.5px;
}

.text-money {
    -fx-font-family: "KoPub Batang";
    -fx-text-fill: #f4e0b7;
    -fx-alignment: center;
}

.menu-button {
    -fx-background-color: linear-gradient(to right, #966F35, #302311);
    -fx-text-fill: WHITE;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15.0;
    -fx-mnemonic-parsing: false;
    -fx-pref-height: 25.0;
    -fx-pref-width: 120.0;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

/* Hover effect */
.menu-button:hover {
    -fx-background-color: linear-gradient(to right, #B58840, #453627); /* Lighter shades */
    -fx-cursor: hand; /* Changes cursor to pointer */
    -fx-scale-x: 1.05; /* Slightly enlarges button */
    -fx-scale-y: 1.05;
}

/* Pressed effect */
.menu-button:pressed {
    -fx-background-color: linear-gradient(to right, #7D5A2E, #25190D);
    -fx-scale-x: 0.95; /* Shrinks slightly when clicked */
    -fx-scale-y: 0.95;
}
.play-button {
    -fx-background-color: linear-gradient(to right, #966F35, #302311);
    -fx-text-fill: #F5F5F5;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15.0;
    -fx-mnemonic-parsing: false;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: white; /* Adds a black edge */
    -fx-border-width: 1px; /* Adjusts the thickness of the edge */
    -fx-background-insets: 0.5px; /* Prevents background from overflowing the border */
}

.cards {
    -fx-fit-width: 53px;
    -fx-fit-height: 71.73px;
}



