.root {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-base: #2b2b2b;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 16px;
}

.combo-box {
    -fx-background-color: #444;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: #ddd;
}

.text {
    -fx-font-size: 18px;
    -fx-fill: #d1e0e0;
}